.ChatList {
    display: flex;
    flex: 1;
    background-color: #f6f7f9;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.ChatList>.search {
    padding: 1.5rem;
    height: 1.5rem;
}

.ChatList>.contacts>.contact {
    padding: 1rem 1.3rem;
    border: 1px solid #dddddd;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.ChatList>.contacts {
    flex: 1;
    overflow: auto;
    border: 1px solid #dddddd;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.ChatList>.contacts>.contact.active {
    background-color: white;
}